.App {
  width: 100vw;
  padding: 0;
  margin: 0;
}

.navbar-desktop {
  display: flex;
  margin: 50px;
  text-align: center;
  margin: 15px 50px 50px;
}

.navbar-desktop::before {
  content: "";
  background-color: var(--LightGrayishBlue);
  width: 100%;
  height: 2px;
  position: absolute;
  top: 87px;
}

.nav-link {
  color: var(--GrayishBlue);
  transition: border-bottom ease-in-out 0.2s;
  cursor: pointer;
  margin: 20px;
  padding-bottom: 30px;
  border-bottom: 3px solid transparent;
  position: relative;
}
.nav-link:hover {
  color: var(--Black);
  border-bottom: 3px solid var(--Orange);
}

.nav-list ul {
  display: flex;
}

.icons {
  display: flex;
  margin: auto;
}

.avatar {
  margin-left: 30px;
  top: -10px;
  position: relative;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: ease-in 0.2s;
  text-align: center;
  height: 35px;
}

.avatar:hover {
  border: 2px solid var(--Orange);
}

.cart {
  transition: ease-in-out 0.2s;
  padding: 10px;
  margin: auto;
  float: right;
}

.cart:hover {
  color: var(--Black);
}

.menu {
  padding: 18px;
  margin-top: 3px;
}

.sidebar {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
}

.sidebar-nav {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
}

.hide {
  display: none;
}

.thumbs:hover {
  background-color: rgba(255, 255, 255, 0.75);
  width: 70px;
}

.show {
  width: 60%;
  border-radius: 15px;
}

.images {
  width: 60%;
  text-align: center;
}

.data {
  width: 50%;
  text-align: left;
  padding: 20px;
  margin-top: 40px;
}

.action {
  display: flex;
}

.addbuttons {
  border: none;
  padding: 20px;
  background-color: var(--LightGrayishBlue);
}

.count {
  background-color: var(--LightGrayishBlue);
  text-align: center;
  margin: auto 0;
  padding: 20px;
}

.addcart {
  border: none;
  background-color: var(--Orange);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
  margin-left: 20px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.addcart:hover {
  background-color: hsl(26, 96%, 67%);
  box-shadow: 5px 5px 10px hsla(26, 89%, 72%, 0.47);
}

.addcart svg {
  padding: 0 10px;
}

.images-mobile {
  width: 100vw;
}

.cart-container {
  position: absolute;
  text-align: end;
  border-radius: 15px;
  background: white;
  box-shadow: 10px 10px 15px #aaaaaa;
}

.cart-title {
  font-size: 15px;
  font-weight: 700;
  text-align: start;
  padding: 10px;
  margin: 0 10px;
  border-bottom: 2px solid var(--LightGrayishBlue);
}

.cart-body {
  text-align: center;
}

.container {
  display: flex;
}

.counters {
  display: flex;
  transition: ease-in-out 0.2s;
  border-radius: 15px;
}

.counters:hover {
  box-shadow: 5px 5px 10px hsla(0, 0%, 49%, 0.47);
}

.thumbs {
  width: 70px;
}

.preview {
  width: 70px;
  border-radius: 15%;
  margin: 20px 14px;
  position: relative;
  transition: ease-in-out 0.2s;
}

.preview:hover {
  opacity: 0.6;
}

svg {
  fill: var(--GrayishBlue);
  transition: ease-in-out 0.2s;
}

svg:hover {
  fill: var(--Black);
}

.hide {
  display: none;
}

.arrows {
  position: absolute;
  margin-top: 270px;
  text-align: center;
}
